# Criando estrutura de dados

In [1]:
import pandas as pd

In [4]:
data = [1, 2, 3, 4, 5]
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
index = ['Linha' + str(i) for i in range(5)]
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [6]:
s = pd.Series(data = data, index = index)

In [7]:
data = {'Linha' + str(i) : i + 1 for i in range(5)}

In [8]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

## DataFrame

In [9]:
data = [[1, 2, 3], 
        [4, 5, 6], 
        [7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [10]:
df1 = pd.DataFrame(data = data)
index = ['Linha' + str(i) for i in range(3)]
df1 = pd.DataFrame(data = data, index = index)
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [26]:
columns = ['Coluna' + str(i) for i in range(3)]
df1 = pd.DataFrame(data = data, index = index, columns = columns)
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [27]:
df1[df1 > 3] = 'A'
df1

       Coluna0 Coluna1 Coluna2
Linha0       1       2       3
Linha1       A       A       A
Linha2       A       A       A